<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <controllers>
      <controller type="Sitecore.Support.ListManagement.Services.SupportContactListController, Sitecore.Support.81008">
        <param desc="repository" type="Sitecore.ListManagement.Services.ContactListRepository`3[[Sitecore.ListManagement.ContentSearch.Model.ContactList, Sitecore.ListManagement.ContentSearch], [Sitecore.ListManagement.ContentSearch.Model.ContactList, Sitecore.ListManagement.ContentSearch], [Sitecore.ListManagement.Services.Model.ContactListModel, Sitecore.ListManagement.Services]], Sitecore.ListManagement.Services">
          <param desc="listManager" ref="contactListManager" />
          <param desc="sourceListManager" ref="contactListManager" />
        </param>
      </controller>
    </controllers>
    <api>
      <services>
        <configuration>
          <allowedControllers>
            <allowedController desc="SupportContactListController">Sitecore.Support.ListManagement.Services.SupportContactListController, Sitecore.Support.81008</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
  </sitecore>
</configuration>